.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

app/src/main/java/me/biuti/transmissampa/ParseHashKeys.java
app/src/main/java/me/biuti/transmissampa/util/WowzaKeys.java