<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.biuti.transmissampa" >

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".core.TransmissampaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.Activities.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Activities.StartActivity"
            android:label="@string/title_activity_start"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.Activities.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:parentActivityName=".ui.Activities.StartActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Activities.StartActivity" />
        </activity>
        <activity
            android:name=".ui.Activities.LogInActivity"
            android:label="@string/title_activity_log_in"
            android:parentActivityName=".ui.Activities.StartActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Activities.StartActivity" />
        </activity>
        <activity
            android:name=".ui.Activities.AddEventActivity"
            android:label="@string/title_activity_add_event"
            android:parentActivityName=".ui.Activities.MainActivity"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Activities.BroadcastActivity"
            android:label="@string/title_activity_broadcast"
            android:parentActivityName=".ui.Activities.MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.Activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.Activities.ViewEventActivity"
            android:label="@string/title_activity_view_event"
            android:parentActivityName=".ui.Activities.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.biuti.transmissampa.ui.Activities.MainActivity" />
        </activity>
    </application>

</manifest>
